@import "_colors";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent_card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}
.card {
  width: 30%;
  justify-content: space-around;
  margin-top: 1em;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  &:hover {
    box-shadow: 0px 0px 5px 5px  rgba(0, 0, 0, 0.2);
  }
}

.batch_card {
  height: 28vh;
  border: 1px solid lightblue;
  border-top: 5px solid blueviolet;
}

.interviewer_batch_card {
  height: 15vh;
}

.batch_details {
  padding:0.4em;
  background-color: rgb(231, 228, 228);
  // height: 1vh;
}

.form-buttons {
  width: 100%;
  /* border: 1px solid blueviolet; */
  display: flex;
  justify-content: center;
  button {
    margin: 1em;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }

  .edit {
    background-color: orangered;
    border: 0;
    color: white;
  }
}

a{
  text-decoration: none;
}

.batchListIcons {
  font-size: 1.4em;
  span {
    &:hover {
      cursor: pointer;
      color: $success-color;
    }
  }
}

//Single Batch Details
.singleBatchParentContainer {
  background-color: rgb(236, 236, 236);
}
.singleBatchContainer {
  height: 60vh;
  width: 50%;
  border: 1px solid lightblue;
  background-color: white;
}

.batch_information{
  width: 100%;
  padding:0.2em 1em;
  background-color:  rgb(194, 238, 194);
  margin:0.5em 0;
}
.studentContainer{
  margin:1em;
  padding: 1em;
  height: 40vh;
  background-color: lightcyan;
  width: 80%;
  overflow-x: auto;
  span {
    padding:1em;
    margin-top: 4em;
  }
}