.font-weight-bold {
    font-weight: bold;
}

.font-weight-bolder {
    font-weight: bolder;
}

.font-weight-light {
    font-weight: 500;
}

.font-weight-lighter {
    font-weight: lighter;
}

.font-weight-normal {
    font-weight: normal;
}

.font-variant-caps {
    font-variant: small-caps;
}

.font-small {
    font-size: small;
}

.font-smaller {
    font-size:smaller
}
.font-size-x-small{
    font-size: x-large;
}

.font-size-xx-small{
    font-size: xx-small;
}

.font-large {
    font-size: large;
}

.font-larger {
    font-size: larger;
}

.font-size-x-large {
    font-size: x-large;
}

.font-size-xx-large {
    font-size: xx-large;
}

.font-italic {
    font-style: italic;
}

.font-oblique {
    font-style: oblique 20deg 40deg;
}