@import "_colors";
.student_card {
    height: 10rem;
    width: 22%;
    border:1px solid burlywood;
    border-top: 5px solid brown;
}


// Single Student Details
.studentDetailsContainer {
    height:21rem;
    width: 50%;
    padding:2em 1em;
    background-color: lightgray;
    border-radius: 5px;

    .studentData {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0.5em;

        label {
            width: 40%;
            display: inline-block;
        }
        div{
            width: 60%;
            padding:0.8em 1em;
            background-color: white;
            border-radius: 5px;
        }
        
    }
    button {
        cursor: pointer;
        padding:0.8em 1em;
        &:hover{
            background-color: $primary-color;
        }
    }
}

