@import "_colors";
/* Style the links that are used to open and close the accordion panel*/
.accordion {
  // background-color: #eee;
  background-image: linear-gradient(rgba(0,0,250,0.2));
  color: purple;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: 1px solid rgb(193, 162, 223);
  transition: 0.4s;
}

.accordion:hover {
  background-color: rgba(141, 58, 219,0.2);
  color: blue;
}

.accordion span {
  padding: 18px;
  display: flex;
  flex-direction: column;
  &:hover {
    background-color: rgba(141, 58, 219,0.4);
  }
}

.panel {
  display: none;
}

.accordion:hover > .panel {
  display: flex;
  flex-direction: column;
  color: $success-color;
}

.panel > a {
  padding: 0.8em 1em;
  background-color: white;
  color: $primary-color;
  display: flex;
  overflow: hidden;
  margin-left: 5px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 260px;
  background-image:linear-gradient(to bottom,white,rgba(0,0,255,0.2)), url("/src/assets/images/sidebar_bg.jpg");
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  text-decoration: none;
}

.sidebar a.active span {
  background-color: #04aa6d;
  color: white;
}

// .sidebar a:hover:not(.active) {
.sidebar a:hover {
  background-color: rgba(176, 131, 218,0.2);
  color: purple;
}

div.content {
  margin-left: 280px;
  padding: 1px 16px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 10;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
