@import "_bg_color";
@import "_button";
@import "_badges";
@import "_borders";
@import "_colors";
@import "_charts";
@import "_flex";
@import "_fonts";
@import "_icons";
@import "_labels";
@import "_scrollbar";
@import "_batches";
@import "_content";
@import "_courses";
@import "_dynamicComponents";
@import "_event_cards";
@import "_feedback";
@import "_interviewer";
@import "_loader";
@import "_login";
@import "_navbar";
@import "_popup_form";
@import "_students";
@import "_trainers";
@import "accordion_style";
@import "style";
@import "_margin_padding";
@import "_text_transform";
@import "_text_color";
@import "_sharable_template";
@import "_profile";
@import "_qrDemo";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.width-100 {
  width: 100%;
}

.width-inherit {
  width: inherit;
}