body {
  margin: 0;
  font-family:  sans-serif;
}

.text-align-center{
  text-align: center;
}


.links {
  color: white;
}

.links:hover {
  color: lightskyblue;
}

h4 {
  color: blue;
  padding-bottom: 1em;
}

input:disabled {
  background-color: rgb(252, 200, 200);
}

input:read-only{
  cursor:not-allowed !important;
}

.error {
  color:red;
  font-style: oblique;
  /* margin:5px; */
}